<div class="slide-container {{ section.id }}">

  <!-- Boxen für Desktop Ansicht -->
  <div class="flexbox trust-icons page-width">
    <ul class="trust-icons">
      {% for block in section.blocks %} 
      <li class="flex">&#10003; {{ block.settings.text }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- Boxen für mobile Ansicht -->
  <div class="carousel">
      <div class="carousel-inner">
        {% for block in section.blocks %} 
        <div class="carousel-item">
          <li class="flex">&#10003; {{ block.settings.text }}</li>
        </div>
        {% endfor %}
      </div>
  </div>
  
</div>
{% schema %}
{
  "name": "Announcement Bar 2.1",
  "class": "shopify-section--announcement-bar",
  "limit" : 1,
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Colors",
      "info": "Passe hier die Farben für deine Announcement Bar an."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#f5f5f5"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text",
      "default": "#000000"
    },
    {
  "type": "range",
  "id": "font-size",
  "min": 10,
  "max": 24,
  "step": 1,
  "unit": "px",
  "label": "Schriftgröße",
  "default": 12
}],
  "blocks": [
     {
       "name": "Text",
       "type": "text",
       "settings": [
         {
           "type": "text",
           "id": "text",
           "label": "Text",
           "default": "Dein Trust Text hier"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Announcement Bar 2.1",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
        ,{
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
{% style %}
  .{{ section.id }} {
  background-color: {{section.settings.background}};
  color: {{section.settings.text-color}};
  font-size: {{section.settings.font-size}}px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -200;
}

.{{ section.id }} .trust-icons {
  display: none;
  }
  
.{{ section.id }} ul.trust-icons {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.{{ section.id }} .flex {
  list-style-type:none;
}

.{{ section.id }} .carousel {
  text-align: center;
}

.{{ section.id }} .carousel-item {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.{{ section.id }} .carousel-item.active {
  opacity: 1;
  height: auto;
}

.{{ section.id }} .carousel-item li {
  padding: 4px 5%;
}

@media screen and (min-width: 700px) {
  .{{ section.id }} .carousel {
    display: none;
  }
  .{{ section.id }} .trust-icons {
    display: block;
  }
}
{% endstyle %}